.favouritesSection .wrapper {
    margin: 0 auto;
}

.favouritedHeader {
    color: red;
}

.showContainer,
.restaurantContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}