.favouritesSection .wrapper {
    margin: 0 auto;
}

.favouritesSection {
    background-color: rgb(243,238,223);
    padding: 5% 0 0 0;
}

.favouritedHeaderSection {
    background-color: $primaryColor;
}

.favouritedHeader {
    color: #fff;
    text-shadow: 2px;
    text-align: center;
    font-size: 4rem;
    margin: 5% 0; 
}

.individualCard {
    text-align: center;
}

.showContainer,
.restaurantContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.removeFavButton {
    padding: 15px 25px;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 5% auto 10% auto;
}

.removeFavButton:hover {
    background-color: $secondaryColor;
    color: #fff;
}

.removeFavButton:active {
    background-color: $secondaryColor;
    color: #fff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.comboSection {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 3%;
}

.comboHeader {
    font-size: 5rem;
    padding: 4%;
    line-height: 1.2;
    margin-bottom: 4%;
}

.comboButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 5rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: $secondaryColor;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.comboButton:hover {
    background-color: #fff;
}

.comboButton:active {
    background-color: #fff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.comboLink:visited {
    color: black;
}

// Responsive Design Section
@media (max-width: 768px) {
    .favouritedHeader {
        font-size: 4.5rem;
    }

    .comboButton {
        font-size: 3.5rem;
    }
}

@media (max-width: 414px) {
    .favouritedHeader {
        font-size: 3rem;
        margin: 12% 0;
    }

    .comboButton {
        font-size: 2.5rem;
    }
}

@media (max-width: 320px) {
    .comboButton {
        font-size: 2rem;
    }
}