$primaryColor: #6F0013;
$secondaryColor: #f46e00;
$tertiaryColor: #ebe3ca;
$primaryFont: 'Kanit', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: $secondaryFont;
}

h1,
h2,
h3 {
    font-family: $primaryFont;
    font-weight: 900;
    letter-spacing: .3rem;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}
