.mainHeader {
    background: rgb(41, 41, 41);
    height: 100vh;
}

.wrapperHeader {
    width: 100%;
    height: 100%;
    display: flex;

    @media (max-width: 900px) {
        flex-direction: column-reverse;

    }
}

.headerTitle {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: calc(3vh + 50px);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: (0 0 3px rgb(0, 0, 0), 0 0 3px rgb(0, 0, 0));

    h1 {
        margin-bottom: 20px;
        padding: 5px 15px;
        border: 2px solid white;
        background: rgba(0, 0, 0, 0.3);
    }

    h2 {
        font-size: calc(1.4rem + (18 - 14) * (100vw - 320px) / (1280 - 320));
        font-family: $secondaryFont;
        width: 50%;

        @media (max-width: 900px) {
            width: 70%;
        }

        @media (max-width: 400px) {
            font-size: 1.4rem;
        }
    }
}

.tvForm, .restoForm {
    width: 50%;
    height: 100%;
    transition: all 1.5s;

    @media (max-width: 900px) {
        width: 100%;
        height: 25%;
        transition: none;
    }

    form {
        width: 100%;
        height: 100%;
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.3));
    }
}

.restoForm {
    background: url(../assets/sushi.jpg);
    background-size: cover;
    background-position: center;

    @media (max-width: 900px) {
  
    }

    .inputBar {
        border: 1px solid $secondaryColor;

        button {
            color: $secondaryColor;
        }
    }    
}

.tvForm {
    background: url(../assets/tv.jpg);
    background-size: cover;
    background-position: center;

    .inputBar {
        border: 1px solid $primaryColor;
        margin-bottom: 10px;

        button {
            color: $primaryColor;
        }
    }
}

.inputBar {
    width: 55%;
    background: white;
    overflow: hidden;
    border-radius: 30px;

    @media (max-width: 500px) {
        width: 80%;
    }

    button {
        width: 60px;
        height: 40px;
        background: white;
        border: none;
        font-size: 2rem;
    }

    input[type=text] {
        margin: 0 auto;
        border: none;
        padding: 10px 15px;
        height: 40px;
        background: white;
        width: calc(100% - 60px);
        
    }
}

.wrapperHeader:hover {
    form {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.4));
    }
}
    @media (min-width: 900px) {
        .restoForm:hover, .tvForm:hover {
            width: 100%;
    
            form {
                background: rgba(0, 0, 0, 0.4);
            }
    
            .inputBar {
                width: 55%;
                border-width: 3px;
            }        
        }           
    }

.headerGone {
    height: 190px;
    transition: all 2s 0.3s;
    position: fixed;
    margin-top: 50px;
    left: 0;
    right: 0;
    z-index: 5;
    box-shadow: (2px 2px 5px rgba(0, 0, 0, 0.3));

    @media (min-width: 900px) {
        height: 160px;
    }

    @media (max-width: 900px) {
        transition: none;
    }

    @media (max-width: 700px) {
        margin-top: 0;
    }

    .headerTitle {
        top: 20px;

        h1 {
            font-size: 1.6rem;
            letter-spacing: 1px;
            transition: all 2s 0.3s;
            margin: 0;
            
        }

        h2 {
            display: none;
        } 
    }

    .restoForm, .tvForm {

        @media (min-width: 900px) {
            width: 50%;
        }

        @media (max-width: 900px) {
            height: 30%;
        }
        form {
            background: rgba(0, 0, 0, 0.6);
        }
    }

}