.mainHeader {
    background: url(../assets/header.png);
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 60px;
}

.mainHeader .wrapper {
    width: 70%;
    height: 75vh;
    // background: rgba(255, 255, 255, 0.9);
    // border: 20px solid rgba(242,242,242, 0.9);
    margin: 0 auto;
    display: flex;
}

.tvForm, .restoForm {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1.5s;
}

.restoForm {
    background: rgba(255, 255, 255, 0.9);
    
}

.tvForm {
    background: rgba(242,242,242, 0.9);
}

.mainHeader .wrapper:hover {
    transform: all 1.5s;
    

    input {
        // background: rgba(242,242,242, 0.9);
        
        width: 40%;
    }

    .restoForm:hover, .tvForm:hover {
        width: 100%;

        input {
            width: 70%;
            flex-shrink: 1;
        }
        
    }

}


input[type=text] {
    margin: 0 auto;
    border: none;
    padding: 10px;
    background: none;
    width: 70%;

    &.restoInput {
        border-bottom: 1.5px solid $secondaryColor;
    }

    &.tvInput {
        border-bottom: 1.5px solid $primaryColor;
    }
}
