// Mix component styles
.mixSection {
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    background: url(../assets/comboBg.jpg);
    background-size: cover;
}

.mixSection .wrapper {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h2 {
        color: $secondaryColor;
        font-size: 4rem;
    }
}

// Combo main box section
.comboBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 3px solid $secondaryColor;
    background-color: $tertiaryColor;
    border-radius: 30px;
    padding: 50px;
    width: 80%;

    // individual cards
    .comboResult {
        margin: 20px;
    }
}

// Responsiveness 
@media (max-width: 1170px) {
    .comboBox {
        width: 100%;
    }
}

@media (max-width: 935px) {
    .comboBox {
        padding: 20px;
    }

}