// Mix component styles

.mixSection .wrapper {
    margin: 0 auto;
    text-align: center;
}

// Combo main box section
.comboBox {
    display: flex;
    justify-content: center;

    // individual cards
    .comboResult {
        margin: 20px;
    }
}