nav {
    background: rgb(249,246,239);
    padding: 15px 50px;
    height: 50px;
    position: fixed;
    width: 100%;
    text-align: right;
    z-index: 10;
    box-shadow: (2px 2px 5px rgba(0, 0, 0, 0.3));
    
    @media (max-width: 700px) {
        display: none;
    }

    a {
        color: black;
        padding: 15px 20px;
        position: relative;
        z-index: 10;
        
        &:hover::after {
            content: '';
            display: block;
            height: 5px;
            background: rgb(255, 176, 112);
            position: absolute;
            width: 60%;
            bottom: 10px;
            left: 25px;
            z-index: -10;
        }
    }
}

