html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    // ---------- reminder: we need to define font size for h1 and for h2
}